In [1]:
import src.co2_analysis as ca

In [2]:
def run_analysis(api_gdp_path, api_pop_path, co2_path, end_year, number_of_years=10):
    data = ca.load_all_files(api_pop_path, api_gdp_path, co2_path)
    api_cleared = ca.clear_data(data[0], data[1])
    api_gdp = api_cleared[1]
    api_pop = api_cleared[0]

    data_merged = ca.merge_data(api_gdp, api_pop, data[2])
    print("Highest CO2 emission over the years:")
    display(ca.co2_ranking(data_merged))
    print("Highest GDP per capita over the years:")
    display(ca.gdp_ranking(data_merged))
    reduction = ca.co2_reduction_ranking(data_merged, end_year, number_of_years)
    print(f"Countries that reduced their CO2 emmision the most between {end_year-number_of_years} and {end_year}:")
    display(reduction[0])
    print(f"Countries that increased their CO2 emmision the most between {end_year-number_of_years} and {end_year}:")
    display(reduction[1])
    return

In [3]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv", 2014)

,Country,Year,Population,GDP,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,AFGHANISTAN,1960,8996967.0,5.377778e+08,113,35,74,0,5,0,0.01,0
1,ANGOLA,1960,5454938.0,NaN,150,34,95,0,22,0,0.03,41
2,ALBANIA,1960,1608800.0,NaN,552,89,430,23,10,0,0.34,0
3,UNITED ARAB EMIRATES,1960,92417.0,NaN,3,0,3,0,0,0,0.03,0
4,ARGENTINA,1960,20481781.0,NaN,13312,1066,11242,645,359,0,0.65,211
...,...,...,...,...,...,...,...,...,...,...,...,...
7716,VANUATU,2014,263888.0,7.723157e+08,42,0,42,0,0,0,0.16,10
7717,SAMOA,2014,192220.0,7.568060e+08,54,0,54,0,0,0,0.28,9
7718,SOUTH AFRICA,2014,54544184.0,3.811989e+11,133562,113068,16448,2404,1642,0,2.47,2945
7719,ZAMBIA,2014,15399793.0,2.714102e+10,1228,132,797,0,299,0,0.08,33
7720,ZIMBABWE,2014,13586710.0,1.949552e+10,3278,2097,1005,0,177,0,0.22,9

Highest CO2 emission over the years:

      Year               Country   Total  Per Capita
65    1960            LUXEMBOURG    3141       10.00
61    1960                KUWAIT    2128        8.07
37    1960        UNITED KINGDOM  159340        3.02
75    1960         NEW CALEDONIA     235        3.02
17    1960                CANADA   52603        2.94
...    ...                   ...     ...         ...
7684  2014                 QATAR   29412       13.54
7595  2014               CURACAO    1604       10.30
7708  2014   TRINIDAD AND TOBAGO   12619        9.32
7640  2014                KUWAIT   26018        6.93
7567  2014  UNITED ARAB EMIRATES   57641        6.34

[275 rows x 4 columns]

Highest GDP per capita over the years:

      Year        Country           GDP  GDP Per Capita
82    1960    NEW ZEALAND  5.485855e+09     2312.949992
17    1960         CANADA  4.046172e+10     2259.294285
65    1960     LUXEMBOURG  7.039257e+08     2242.015817
102   1960         SWEDEN  1.582259e+10     2114.002973
13    1960        BERMUDA  8.446665e+07     1902.402119
...    ...            ...           ...             ...
7643  2014  LIECHTENSTEIN  6.657171e+09   178864.851914
7647  2014     LUXEMBOURG  6.880481e+10   123678.702143
7582  2014        BERMUDA  6.413988e+09    98467.683994
7669  2014         NORWAY  4.984101e+11    97019.182753
7589  2014    SWITZERLAND  7.343966e+11    89684.707580

[275 rows x 4 columns]

Countries that reduced their CO2 emmision the most between 2004 and 2014:

Country
ARUBA                  -4.91
QATAR                  -2.84
UNITED ARAB EMIRATES   -2.10
LUXEMBOURG             -2.08
FINLAND                -1.15
Name: Reduction, dtype: float64

Countries that increased their CO2 emmision the most between 2004 and 2014:

Country
TRINIDAD AND TOBAGO    2.36
NEW CALEDONIA          1.47
MONGOLIA               1.02
SINGAPORE              0.92
GIBRALTAR              0.84
Name: Reduction, dtype: float64