## Analysis of GDP, population and CO2 emission

Ewa Dobrowolska, February 2023

### 1. Starter

Load the packages:

In [1]:
import src.co2_analysis as ca
import pandas as pd

Define the function used for the analysis:

In [2]:
def run_analysis(api_gdp_path, api_pop_path, co2_path, start_year=None, end_year=None, up_to_year=None, number_of_years=10):
    api_gdp = pd.read_csv(api_gdp_path, sep="^", header=None, skiprows=4)  # read as one column
    api_pop = pd.read_csv(api_pop_path, sep="^", header=None, skiprows=4)  # read as one column
    co2 = pd.read_csv(co2_path)
    
    api_gdp = ca.correct_api(api_gdp)
    api_pop = ca.correct_api(api_pop)

    data_merged = ca.merge_data(api_gdp, api_pop, co2)
    
    co2_rank = ca.co2_ranking(data_merged, start_year, end_year)
    print("Highest CO2 emission over the years:")
    display(co2_rank)
    
    gdp_rank = ca.gdp_ranking(data_merged, start_year, end_year)
    print("Highest GDP per capita over the years:")
    display(gdp_rank)
    
    reduction = ca.co2_reduction_ranking(data_merged, up_to_year, number_of_years)
    
    time_range_up = max(data_merged['Year']) if up_to_year is None else up_to_year  # for correct display
    
    print(f"Countries that reduced their CO2 emmision the most between {time_range_up-number_of_years} and {time_range_up}:")
    display(reduction[0])
    
    print(f"Countries that increased their CO2 emmision the most between {time_range_up-number_of_years} and {time_range_up}:")
    display(reduction[1])
    return

### 2. Run the analysis:

Without specified time range:

In [3]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv")

Highest CO2 emission over the years:

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\data_preprocessing.py:50: UserWarning: 200 countries/regions don't appear in all datasets and have been excluded from the study.
  warnings.warn(f"{len(diff)} countries/regions don\'t appear in all datasets and have been excluded from the study.")

      Year               Country   Total  Per Capita
65    1960            LUXEMBOURG    3141       10.00
61    1960                KUWAIT    2128        8.07
37    1960        UNITED KINGDOM  159340        3.02
75    1960         NEW CALEDONIA     235        3.02
17    1960                CANADA   52603        2.94
...    ...                   ...     ...         ...
7684  2014                 QATAR   29412       13.54
7595  2014               CURACAO    1604       10.30
7708  2014   TRINIDAD AND TOBAGO   12619        9.32
7640  2014                KUWAIT   26018        6.93
7567  2014  UNITED ARAB EMIRATES   57641        6.34

[275 rows x 4 columns]

Highest GDP per capita over the years:

      Year        Country           GDP  GDP Per Capita
82    1960    NEW ZEALAND  5.485855e+09     2312.949992
17    1960         CANADA  4.046172e+10     2259.294285
65    1960     LUXEMBOURG  7.039257e+08     2242.015817
102   1960         SWEDEN  1.582259e+10     2114.002973
13    1960        BERMUDA  8.446665e+07     1902.402119
...    ...            ...           ...             ...
7643  2014  LIECHTENSTEIN  6.657171e+09   178864.851914
7647  2014     LUXEMBOURG  6.880481e+10   123678.702143
7582  2014        BERMUDA  6.413988e+09    98467.683994
7669  2014         NORWAY  4.984101e+11    97019.182753
7589  2014    SWITZERLAND  7.343966e+11    89684.707580

[275 rows x 4 columns]

Countries that reduced their CO2 emmision the most between 2004 and 2014:

                      Reduction
Country
ARUBA                     -4.91
QATAR                     -2.84
UNITED ARAB EMIRATES      -2.10
LUXEMBOURG                -2.08
FINLAND                   -1.15

Countries that increased their CO2 emmision the most between 2004 and 2014:

                     Reduction
Country
TRINIDAD AND TOBAGO       2.36
NEW CALEDONIA             1.47
MONGOLIA                  1.02
SINGAPORE                 0.92
GIBRALTAR                 0.84

With correctly specified range:

In [4]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv",
             2005, 2010, 2010, 5)

Highest CO2 emission over the years:

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\data_preprocessing.py:50: UserWarning: 200 countries/regions don't appear in all datasets and have been excluded from the study.
  warnings.warn(f"{len(diff)} countries/regions don\'t appear in all datasets and have been excluded from the study.")

      Year               Country  Total  Per Capita
6254  2005                 QATAR  13896       16.93
6212  2005                KUWAIT  19511        8.62
6278  2005   TRINIDAD AND TOBAGO  10404        7.91
6140  2005  UNITED ARAB EMIRATES  31674        7.78
6135  2005                 ARUBA    742        7.34
6411  2006                 QATAR  17310       17.69
6436  2006   TRINIDAD AND TOBAGO  11638        8.81
6368  2006                KUWAIT  20117        8.56
6296  2006  UNITED ARAB EMIRATES  33781        7.24
6291  2006                 ARUBA    741        7.21
6570  2007                 QATAR  17256       14.97
6595  2007   TRINIDAD AND TOBAGO  12401        9.47
6526  2007                KUWAIT  20517        8.03
6449  2007                 ARUBA    770        7.61
6466  2007               BAHRAIN   7321        7.09
6729  2008                 QATAR  17683       13.01
6754  2008   TRINIDAD AND TOBAGO  12104        9.19
6685  2008                KUWAIT  22561        8.35
6625  2008               BAHRAIN   8118        7.27
6608  2008                 ARUBA    725        7.15
6888  2009                 QATAR  18877       11.86
6913  2009   TRINIDAD AND TOBAGO  12243        9.26
6844  2009                KUWAIT  23808        8.26
6767  2009                 ARUBA    717        7.07
6784  2009               BAHRAIN   7695        6.43
7047  2010                 QATAR  19773       11.20
7072  2010   TRINIDAD AND TOBAGO  13072        9.84
7003  2010                KUWAIT  24441        7.99
6926  2010                 ARUBA    684        6.73
6943  2010               BAHRAIN   7981        6.33

Highest GDP per capita over the years:

      Year         Country           GDP  GDP Per Capita
6218  2005      LUXEMBOURG  3.767228e+10    80988.137623
6155  2005         BERMUDA  4.868136e+09    75882.033856
6239  2005          NORWAY  3.088843e+11    66810.478521
6203  2005         ICELAND  1.685296e+10    56794.850159
6162  2005     SWITZERLAND  4.205449e+11    56546.785655
6311  2006         BERMUDA  6.144000e+09    95221.858872
6374  2006      LUXEMBOURG  4.291015e+10    90788.800488
6324  2006  CAYMAN ISLANDS  4.200439e+09    82801.543467
6396  2006          NORWAY  3.455814e+11    74148.320076
6411  2006           QATAR  6.088214e+10    59530.561000
6529  2007   LIECHTENSTEIN  4.601300e+09   130655.636960
6533  2007      LUXEMBOURG  5.158740e+10   107475.320298
6469  2007         BERMUDA  6.767000e+09   104287.387498
6482  2007  CAYMAN ISLANDS  4.466439e+09    85433.030280
6555  2007          NORWAY  4.009371e+11    85139.960447
6688  2008   LIECHTENSTEIN  5.081433e+09   143264.059433
6692  2008      LUXEMBOURG  5.884428e+10   120422.137934
6628  2008         BERMUDA  6.980000e+09   106935.486342
6714  2008          NORWAY  4.622500e+11    96944.095606
6641  2008  CAYMAN ISLANDS  4.586114e+09    85188.336029
6847  2009   LIECHTENSTEIN  4.504549e+09   126096.610425
6851  2009      LUXEMBOURG  5.446729e+10   109419.746953
6787  2009         BERMUDA  6.656000e+09   101407.764032
6873  2009          NORWAY  3.861904e+11    79977.697082
6800  2009  CAYMAN ISLANDS  4.281869e+09    77400.422370
7006  2010   LIECHTENSTEIN  5.082366e+09   141192.534673
7010  2010      LUXEMBOURG  5.621399e+10   110885.991379
6946  2010         BERMUDA  6.634526e+09   101875.284073
7032  2010          NORWAY  4.287570e+11    87693.790066
6953  2010     SWITZERLAND  6.034345e+11    77117.126014

Countries that reduced their CO2 emmision the most between 2005 and 2010:

                      Reduction
Country
QATAR                     -5.73
UNITED ARAB EMIRATES      -2.52
LUXEMBOURG                -1.00
SEYCHELLES                -0.96
BAHRAIN                   -0.90

Countries that increased their CO2 emmision the most between 2005 and 2010:

                     Reduction
Country
TRINIDAD AND TOBAGO       1.93
SINGAPORE                 1.05
OMAN                      1.03
KAZAKHSTAN                0.97
NORWAY                    0.85

With incorrectly specified range:

In [5]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv",
             2000, 1990, 2014, 5)

Highest CO2 emission over the years:

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\data_preprocessing.py:50: UserWarning: 200 countries/regions don't appear in all datasets and have been excluded from the study.
  warnings.warn(f"{len(diff)} countries/regions don\'t appear in all datasets and have been excluded from the study.")
C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\analysis.py:26: UserWarning: Start Year can't be after End Year. Defaulting to range: all years
  warnings.warn(r"Start Year can't be after End Year. Defaulting to range: all years")

      Year               Country   Total  Per Capita
65    1960            LUXEMBOURG    3141       10.00
61    1960                KUWAIT    2128        8.07
37    1960        UNITED KINGDOM  159340        3.02
75    1960         NEW CALEDONIA     235        3.02
17    1960                CANADA   52603        2.94
...    ...                   ...     ...         ...
7684  2014                 QATAR   29412       13.54
7595  2014               CURACAO    1604       10.30
7708  2014   TRINIDAD AND TOBAGO   12619        9.32
7640  2014                KUWAIT   26018        6.93
7567  2014  UNITED ARAB EMIRATES   57641        6.34

[275 rows x 4 columns]

Highest GDP per capita over the years:

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\analysis.py:50: UserWarning: Start Year can't be after End Year. Defaulting to range: all years
  warnings.warn(r"Start Year can't be after End Year. Defaulting to range: all years")

      Year        Country           GDP  GDP Per Capita
82    1960    NEW ZEALAND  5.485855e+09     2312.949992
17    1960         CANADA  4.046172e+10     2259.294285
65    1960     LUXEMBOURG  7.039257e+08     2242.015817
102   1960         SWEDEN  1.582259e+10     2114.002973
13    1960        BERMUDA  8.446665e+07     1902.402119
...    ...            ...           ...             ...
7643  2014  LIECHTENSTEIN  6.657171e+09   178864.851914
7647  2014     LUXEMBOURG  6.880481e+10   123678.702143
7582  2014        BERMUDA  6.413988e+09    98467.683994
7669  2014         NORWAY  4.984101e+11    97019.182753
7589  2014    SWITZERLAND  7.343966e+11    89684.707580

[275 rows x 4 columns]

Countries that reduced their CO2 emmision the most between 2009 and 2014:

            Reduction
Country
ARUBA           -4.77
KUWAIT          -1.33
LUXEMBOURG      -0.98
AUSTRALIA       -0.78
NORWAY          -0.60

Countries that increased their CO2 emmision the most between 2009 and 2014:

               Reduction
Country
QATAR               1.68
NEW CALEDONIA       1.16
ESTONIA             1.07
TURKMENISTAN        0.76
SAUDI ARABIA        0.64