In [1]:
import src.co2_analysis as ca

In [2]:
def run_analysis(api_gdp_path, api_pop_path, co2_path, start_year, end_year, up_to_year, number_of_years=10):
    data = ca.load_all_files(api_pop_path, api_gdp_path, co2_path)
    api_cleared = ca.clear_data(data[0], data[1])
    api_gdp = api_cleared[1]
    api_pop = api_cleared[0]

    data_merged = ca.merge_data(api_gdp, api_pop, data[2])
    print("Highest CO2 emission over the years:")
    display(ca.co2_ranking(data_merged, start_year, end_year))
    print("Highest GDP per capita over the years:")
    display(ca.gdp_ranking(data_merged, start_year, end_year))
    reduction = ca.co2_reduction_ranking(data_merged, up_to_year, number_of_years)
    print(f"Countries that reduced their CO2 emmision the most between {up_to_year-number_of_years} and {up_to_year}:")
    display(reduction[0])
    print(f"Countries that increased their CO2 emmision the most between {up_to_year-number_of_years} and {up_to_year}:")
    display(reduction[1])
    return

In [3]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv",
             2000, 1990, 2014, 5)

Highest CO2 emission over the years:
Error: Start Year can't be after End Year.

None

Highest GDP per capita over the years:
Error: Start Year can't be after End Year.

None

Countries that reduced their CO2 emmision the most between 2009 and 2014:

            Reduction
Country
ARUBA           -4.77
KUWAIT          -1.33
LUXEMBOURG      -0.98
AUSTRALIA       -0.78
NORWAY          -0.60

Countries that increased their CO2 emmision the most between 2009 and 2014:

               Reduction
Country
QATAR               1.68
NEW CALEDONIA       1.16
ESTONIA             1.07
TURKMENISTAN        0.76
SAUDI ARABIA        0.64