## Analysis of GDP, population and CO2 emission

Ewa Dobrowolska, February 2023

### 1. Starter

Load the packages:

In [1]:
import src.co2_analysis as ca
import pandas as pd

Define the function used for the analysis:

In [4]:
def run_analysis(api_gdp_path, api_pop_path, co2_path, start_year, end_year, up_to_year, number_of_years=10):
    api_gdp = pd.read_csv(api_gdp_path, sep="^", header=None, skiprows=4)  # read as one column
    api_pop = pd.read_csv(api_pop_path, sep="^", header=None, skiprows=4)  # read as one column
    co2 = pd.read_csv(co2_path)
    
    api_gdp = ca.correct_api(api_gdp)
    api_pop = ca.correct_api(api_pop)

    data_merged = ca.merge_data(api_gdp, api_pop, co2)
    
    co2_rank = ca.co2_ranking(data_merged, start_year, end_year)
    print("Highest CO2 emission over the years:")
    display(co2_rank)
    
    gdp_rank = ca.gdp_ranking(data_merged, start_year, end_year)
    print("Highest GDP per capita over the years:")
    display(gdp_rank)
    
    reduction = ca.co2_reduction_ranking(data_merged, up_to_year, number_of_years)
    
    print(f"Countries that reduced their CO2 emmision the most between {up_to_year-number_of_years} and {up_to_year}:")
    display(reduction[0])
    
    print(f"Countries that increased their CO2 emmision the most between {up_to_year-number_of_years} and {up_to_year}:")
    display(reduction[1])
    return

### 2. Run the analysis:

...using the function above:

In [5]:
run_analysis("C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv", 
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
             "C:/Users/ewado/OneDrive/Dokumenty/Studia/NPD/data/fossil-fuel-co2-emissions-by-nation_csv.csv",
             2000, 1990, 2014, 5)

Highest CO2 emission over the years:

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\data_preprocessing.py:50: UserWarning: 200 countries/regions don't appear in all datasets and have been excluded from the study.
  warnings.warn(f"{len(diff)} countries/regions don\'t appear in all datasets and have been excluded from the study.")
C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\analysis.py:24: UserWarning: Start Year can't be after End Year. Defaulting to range: all years
  warnings.warn(r"Start Year can't be after End Year. Defaulting to range: all years")

      Year               Country   Total  Per Capita
65    1960            LUXEMBOURG    3141       10.00
61    1960                KUWAIT    2128        8.07
37    1960        UNITED KINGDOM  159340        3.02
75    1960         NEW CALEDONIA     235        3.02
17    1960                CANADA   52603        2.94
...    ...                   ...     ...         ...
7684  2014                 QATAR   29412       13.54
7595  2014               CURACAO    1604       10.30
7708  2014   TRINIDAD AND TOBAGO   12619        9.32
7640  2014                KUWAIT   26018        6.93
7567  2014  UNITED ARAB EMIRATES   57641        6.34

[275 rows x 4 columns]

C:\Users\ewado\Desktop\NYPD-homeworks\Projekt\src\co2_analysis\analysis.py:47: UserWarning: Start Year can't be after End Year. Defaulting to range: all years
  warnings.warn(r"Start Year can't be after End Year. Defaulting to range: all years")

Highest GDP per capita over the years:

      Year        Country           GDP  GDP Per Capita
82    1960    NEW ZEALAND  5.485855e+09     2312.949992
17    1960         CANADA  4.046172e+10     2259.294285
65    1960     LUXEMBOURG  7.039257e+08     2242.015817
102   1960         SWEDEN  1.582259e+10     2114.002973
13    1960        BERMUDA  8.446665e+07     1902.402119
...    ...            ...           ...             ...
7643  2014  LIECHTENSTEIN  6.657171e+09   178864.851914
7647  2014     LUXEMBOURG  6.880481e+10   123678.702143
7582  2014        BERMUDA  6.413988e+09    98467.683994
7669  2014         NORWAY  4.984101e+11    97019.182753
7589  2014    SWITZERLAND  7.343966e+11    89684.707580

[275 rows x 4 columns]

Countries that reduced their CO2 emmision the most between 2009 and 2014:

            Reduction
Country
ARUBA           -4.77
KUWAIT          -1.33
LUXEMBOURG      -0.98
AUSTRALIA       -0.78
NORWAY          -0.60

Countries that increased their CO2 emmision the most between 2009 and 2014:

               Reduction
Country
QATAR               1.68
NEW CALEDONIA       1.16
ESTONIA             1.07
TURKMENISTAN        0.76
SAUDI ARABIA        0.64